<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>997612511524-tktjqb5njjm65t508ksv9kmj5unl87t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997612511524-tktjqb5njjm65t508ksv9kmj5unl87t9</string>
	<key>API_KEY</key>
	<string>AIzaSyDqfrcWYzPTGtUhZXrDJb44eCXF4iZ8hkI</string>
	<key>GCM_SENDER_ID</key>
	<string>997612511524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nbt.lockcast.CrimeNoNo</string>
	<key>PROJECT_ID</key>
	<string>crimenono-745fc</string>
	<key>STORAGE_BUCKET</key>
	<string>crimenono-745fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997612511524:ios:32c00b1ea9a6f9d1</string>
	<key>DATABASE_URL</key>
	<string>https://crimenono-745fc.firebaseio.com</string>
</dict>
</plist>